{% extends "CoreBundle:Partie:layoutPartie.html.twig" %}

{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">LoveLetter</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ app.request.uri }}{{ id }}"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
{% endblock %} 

{% block body %}
    <div class="container-fluid">
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-success alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{ message }}, allez dans votre espace pour y accéder
            </div>
        {% endfor %}
        <h3>Rejoindre une Partie</h3>
        <ul>
            {% for partie in tab %}
                <li><button class="btn btn-default" onclick="location.href = '{{ app.request.uri }}partie/{{ partie.idpartie }}';">Partie {{ partie.idpartie }}</button></li>
                <br>
            {% endfor %}
        </ul>
        <h3>Créer une Partie</h3>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Nombre de joueurs
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" href="{{ app.request.uri }}addPartie/2">2 joueurs</a></li>
            </ul>
        </div>
    </div>
{% endblock %}