{% extends "CoreBundle:Partie:layoutPartie.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/core/css/partie.css') }}" type="text/css" />
{% endblock %}    

{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">LoveLetter</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ app.request.getBaseURL() }}">Home</a></li>
                <li class="active"><a href="#">Partie {{ num }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ app.request.getBaseURL() }}/{{ id.id }}"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}    

{% block body %}
    <div class="container-fluid">
        {% if o == false %}
            <div class="row deck">
                <div class="col-sm-3">
                    <div class="playingCards">
                        <ul class="deck" id="myDeck" data-deck="{{ deck.iddeck }}">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="playingCards">
                        {% if def2 != null %} 
                            <ul class="table" id="otherDefausse" data-defausse="{{ def2.iddefausse }}">
                            {% else %}
                                <ul class="table" id="otherDefausse" data-defausse=null>
                                {%endif%}
                            </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="playingCards">
                        <ul class="table" id="myDefausse" data-defausse="{{ def.iddefausse }}">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row hand">
                <div class="col-sm-4 col-sm-offset-5">
                    <div class="playingCards">
                            <ul class="hand" id="myHand" data-token="{{ token }}" data-main="{{ hand.idmain }}">
                            </ul>
                    </div>
                </div>
            </div>
        {%else%}
            <div class="alert alert-warning">
                <strong>Info :</strong> Il n'y a pas assez de joueurs pour commencer la partie : Revenez plus tard !
            </div>
        {%endif%}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if o == false %}
        <script type="text/javascript" src="{{ asset('bundles/core/js/partie.js') }}"></script>
    {%endif%}
{% endblock %}

