{% extends "CoreBundle:Partie:layoutPartie.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/core/css/partie.css') }}" type="text/css" />
{% endblock %}    

{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">LoveLetter</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ app.request.getBaseURL() }}">Home</a></li>
                <li class="active"><a href="#">Partie {{ num }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ app.request.getBaseURL() }}/{{ id.id }}"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}    

{% block body %}
    <div class="container-fluid">
        {% if o == false %}
            <br><br><br><br><br>
            <div class="row">
                <div class="col-sm-3">
                    <div class="playingCards">
                        <ul class="deck">
                            <li><div class="card back"></div></li>
                            <li><div class="card back"></div></li>
                            <li><div class="card back"></div></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="playingCards">
                        <ul class="table">
                            <li>
                                <div class="card rank-6 spades"></div>
                            </li>
                            <li>
                                <div class="card rank-7 spades"></div>
                            </li>
                            <li>
                                <div class="card rank-7 spades"></div>
                            </li>
                            <li>
                                <div class="card rank-7 spades"></div>
                            </li>
                            <li>
                                <div class="card rank-7 spades"></div>
                            </li>
                            <li>
                                <div class="card rank-7 spades"></div>
                            </li>
                            <li>
                                <div class="card rank-7 spades"></div>
                            </li>
                            <li>
                                <div class="card rank-7 spades"></div>
                            </li>
                            <li>
                                <div class="card rank-7 spades"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br<br><br><br><br><br<br><br>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-5">
                    <div class="playingCards">
                        <ul class="hand">
                            <li>
                                <a class="card rank-1 spades" href="#"></a>
                            </li>
                            <li>
                                <a class="card rank-7 spades" href="#"></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {%else%}
        <div class="alert alert-info alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info :</strong> Il n'y a pas assez de joueurs pour commencer la partie : Revenez plus tard !
            <a href="{{ app.request.getBaseURL() }}/{{ id.id }}">Retour</a>
        </div>
    {%endif%}
{% endblock %}

