{% extends "CoreBundle:Partie:layoutPartie.html.twig" %}

{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">LoveLetter</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ app.request.getBaseURL() }}">Home</a></li>
                <li class="active"><a href="#">Mon espace</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}    

{% block body %}
    <div class="container-fluid">
        <h1>Mes Parties</h1>
        <ul>
            {% for partie in tab %}
                <li><button class="btn btn-default" onclick="location.href = '{{ app.request.getBaseURL() }}/partie/{{ partie.idpartie }}';">Partie {{ partie.idpartie }}</button></li>
                <br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

